<h1>Register</h1>
<form method="post">
    {% csrf_token %}
    <!-- Email Field -->
    <label for="id_email">Email:</label>
    <input type="text" name="email" id="id_email" required>
    {% if form.email.errors %}
    <div style="color: red;">
        {% for error in form.email.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <!-- Username Field -->
    <label for="id_username">Username:</label>
    <input type="text" name="username" id="id_username" required>
    {% if form.username.errors %}
    <div style="color: red;">
        {% for error in form.username.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <br>

    <!-- Password Field -->
    <label for="id_password1">Password:</label>
    <input type="password" name="password1" id="id_password1" required>
    {% if form.password1.errors %}
    <div style="color: red;">
        {% for error in form.password1.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <br>

    <!-- Confirm Password Field -->
    <label for="id_password2">Confirm:</label>
    <input type="password" name="password2" id="id_password2" required>
    {% if form.password2.errors %}
    <div style="color: red;">
        {% for error in form.password2.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <br>

    <button type="submit">Register</button>
</form>

<a href="{% url 'login' %}">Already have an account? Login here.</a>