{% extends 'base.html' %}

{% block content %}
{% load static %}

<form method="GET" action="{% url 'task-list' %}" class="filter-form">
    <label for="category">Filter by Category:</label>

    <select name="category" id="category">
        <option value="">All Categories</option>
        {% for category in categories %}
        <option value="{{ category.name }}" {% if request.GET.category == category.name %} selected {% endif %}>
            <img src="{{ category.icon_url }}" alt="{{ category.name }} icon" width="24" height="24">
            {{ category.name }}
            {% if category.owner %}
            (Custom)
            {% else %}
            (Default)
            {% endif %}
        </option>
        {% endfor %}
    </select>
    <label for="completed">Show Completed:</label>
    <input type="checkbox" name="completed" id="completed" {% if request.GET.completed %}checked{% endif %}>

    <button type="submit">Apply Filters</button>

</form>

<h1>To-Do List</h1>
<ul>
    {% for task in tasks %}
    <li>
        <form method="post" action="{% url 'mark-as-done' task.id %}">
            {% csrf_token %}
            {{category.icon_url}}
            {% if task.category is not None %}
            <img src="{{ task.category.icon_url }}" alt="{{ task.category.icon_url }} icon" width="24" height="24">
            {% endif %}
            <label>
                <input type="checkbox" name="task_ids" value="{{ task.id }}" {% if task.completed_on is not None %}
                    checked {% endif %} onchange="this.form.submit()">
                {% if task.completed_on %}<s> {{ task.title }} (Completed: {{task.completed_on}}) </s>
                {% else %} {{ task.title }}
                {% endif %}
            </label>
        </form>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'add-task' %}">Add New Task</a>
<a href="{% url 'add-category' %}">Add New Category</a>
{% endblock %}