{% extends 'base.html' %}

{% block content %}
<h1>To-Do List</h1>

<ul>
    {% for task in tasks %}
    <li>
        <form method="post" action="{% url 'mark-as-done' task.id %}">
            {% csrf_token %}
            <label>
                <input type="checkbox" name="task_ids" value="{{ task.id }}" {% if task.completed_on is not None %}
                    checked {% endif %} onchange="this.form.submit()">
                {% if task.completed_on %}<s> {{ task.title }} (Completed: {{task.completed_on}}) </s>
                {% else %} {{ task.title }}
                {% endif %}
            </label>
        </form>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'add-task' %}">Add New Task</a>
{% endblock %}